body{
  font-size: 1.5em;
}

}
.nomargins{
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}


td, p {
  font-family: arial, verdana, sans-serif;
  font-size: 1em;
  margin-top: 10px;
}

a, a:visited, a:link, a:active {
  text-decoration: none;
  color: rgb(51, 122, 183);
}

a:hover {
  text-decoration: underline;
}

.person-title {
  font-family: arial, verdana, sans-serif;
  font-size: 16px;
}

.small {
  font-size: .9em;
}

body{
  font-family: arial;
}

.table-list td{
  padding: 0 15px 0 0;
}

.float-right{
  float: right;
  padding-right: 15px;
}

.location {
  font-style: italic;
}

/* HEADER */

header {
  overflow: auto;
}

.center{
	text-align: center;
}
#photo{
  width: 100px;
  margin-bottom: 10px;
}

#header-space{
  height: 110px;
  float: left;
  padding-left: 10px;
}

#name-wrapper {
  position: relative;
  top: 50%;
}


#links-accounts a:hover,
#links-accounts a:visited,
#links-accounts a:link,
#links-accounts a:active{
  text-decoration: none;
}

#name {
  font-family: arial, verdana, sans-serif;
  font-size: 20px;
  font-weight: bold;
}

/* ASIDE */
#pdf-float{
  margin-top: 20px;
  text-align: center;
}

/* CONTENT */

#main-content {
  padding-left: 10px;
  padding-top: 40px;
  padding-right: 10px;
}

.section-header{
  margin-top: 30px;
  font-size: 18px;
  /*text-transform: uppercase;*/
  font-weight:bold;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  margin-bottom: 10px;
}
.section-header a{
  color: rgb(0,0,0);
}

.section-header a:hover{
    text-decoration: none;
}

#last-updated{
  font-size: smaller;
  font-style: italic;
  margin-bottom: 10px;
  margin-left: 20px;
} 

.job {
  margin-bottom: 10px;
}

.job ul{
  list-style-type: none;
}

.paper{
  margin-bottom: 10px;
}

.paperfig{
  height: 75px;
}
.paperfig img{
  height: inherit;
}

#menu{
  margin-top: 20px;
}

#menu ul{
  list-style-type: none;
  padding-left: 0;
  font-weight: bold;
}
/*
#sidebar{
  margin-top: 5px;
  position: fixed;
  display: block;
}
*/

#navcolumn{
    /*margin-right: 10px;*/
    /*padding-top: 10px;*/
    border-radius: 10px;
}

#content{
    /*margin-left: 10px;*/
    /*padding-top: 10px;*/
    border-radius: 10px;
}
